%h3.existing Edit Idea
%ul
%form{action: "/#{idea.id}", method: "POST"}
  %p
    - if idea.id
      Edit your Idea:
    - else
      Your Idea:
  - if idea.id
    %input{name: "_method", type: "hidden", value: "PUT"}/
  #form
    Tag(s)
    %input{name: "idea[tags]", type: "text", value: idea.tags.join(", ")}/
    %br/
    Title
    %input{name: "idea[title]", type: "text", value: idea.title}/
    %br/
    #textbox
      Description
      %textarea{name: "idea[description]"}= idea.description
      %br/
    %input{type: "submit"}/
    %a#homenav{href: "/"} Home
