<ul class="navigation">
  <li id="homenav"><a href="/new_idea" method= 'POST' style= "display: inline"/>Create Idea</li>
  <li id="homenav"><a href="/existing_ideas" method= 'POST' style= "display: inline"/>My Ideas</li>
</ul>
