!!!
%html
  %head
    %title IdeaBox
    %link{href: "styles.css", rel: "stylesheet", type: ""}/
  %body
    #page
      #logo
        %h1#header Ideabox
        %img{alt: "A sketch of a box", src: "http://makingartfun.com/images/watercolor-box-sketch.jpg", title: "box"}/
      %div
        = yield
