<html>
  <head>
    <title>IdeaBox</title>
    <link href="styles.css" type"text/css" rel="stylesheet"/>
  </head>
  <body>
    <div id="page">
      <div id= "logo">
        <h1 id= "header">Ideabox</h1>
        <img src= "http://makingartfun.com/images/watercolor-box-sketch.jpg" alt="A sketch of a box" title= "box" />
      </div>
      <%= yield %>
    </div>

  </body>
</html>
