%h3.new New Idea
%ul
  %form{action: "/", method: "POST"}
  %pYour Idea:
  #form
  Tag(s)
  %input{name: "idea[tags]", type: "text"}/
  %br/
  Title
  %input{name: "idea[title]", type: "text"}/
  %br/
  #textbox
    Description
    %textarea{name: "idea[description]"}
    %br/
  %input{type: "submit"}/
%a#homenav{href: "/"} Home
